#base{
    height:100%;
    width:100%;
    position : absolute;
    top:0;
    left:0;
    right:0;
    margin:auto;
    background: linear-gradient(to bottom right , #36003e, #0d007e);
}

#er{
    position: absolute;
    top:5%;
    left:5%;
    font-size: 10vh;
    font-weight: bold;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}